<template name="locationQueryGroup">
	<div class="form-group">
		{{#each mains}}
			<div class="checkbox row">
				<label>
					<input class="location-checkbox" value="{{_id}}" type="checkbox"> {{name}}
				</label>
			</div>
			{{#if hasSublocations}}
				<div class="row">
					{{#each sublocations}}
						{{> sublocationQuery _id=_id name=name main=../_id}}
					{{/each}}
				</div>
			{{/if}}
		{{/each}}
	</div>
</template>

<template name="sublocationQuery">
	<div class="col-sm-3">
		<div class="checkbox">
			<label>
				<input class="sublocation-checkbox" value="{{_id}}" type="checkbox"> {{name}}
			</label>
		</div>
	</div>
</template>