<!-- Single form line -->
<!-- needs name, id,  -->
<template name="submissionGroup">
	<div class="form-group">
		<label for="{{id}}" class="col-sm-3 control-label">
			{{name}}
		</label>
		<div class="col-sm-9">
      {{> Template.dynamic template=computedType }}
		</div>
	</div>
</template>

<template name="submissionGroupText">
  <input class="form-control" id="{{id}}" placeholder="{{name}}" >
</template>

<template name="submissionGroupTextarea">
  <textarea class="form-control" id="{{id}}" placeholder="{{name}}"></textarea>
</template>

<template name="submissionGroupCheckbox">
  <input type="checkbox" id="{{id}}">
</template>

<template name="submissionGroupDateTime">
   <script>
$(function() {
$( ".datepicker" ).datepicker();
});
</script>
  <div class="row">
    <div class="col-sm-6">
      <input class="form-control datepicker" id="{{id}}_date" placeholder="MM/DD/YYYY">
    </div>
    <div class="col-sm-6">
      <input class="form-control" id="{{id}}_time" placeholder="hh:mm">
    </div>
  </div>
</template>
