<!-- Single form line -->
<!-- needs name, id,  -->
<template name="submissionGroup">
	<div class="form-group">
		<label for="{{id}}" class="col-sm-3 control-label">
			{{name}}
		</label>
		<div class="col-sm-9">
      {{> Template.dynamic template=computedType }}
		</div>
	</div>
</template>

<template name="submissionGroupText">
  <input class="form-control" id="{{id}}" placeholder="{{name}}" >
</template>

<template name="submissionGroupTextarea">
  <textarea class="form-control" id="{{id}}" placeholder="{{name}}"></textarea>
</template>
