<template name="addTransportPage">
{{#if isInRole 'transport-add'}}
  <h2>new transport</h2>
  <form class="form-horizontal" role="form">
    {{> submissionGroup id="name" name="Name"}}
    {{> submissionGroup id="prioritised" name="prioritised" type="Checkbox"}}
    {{> submissionGroup id="arrival" name="arrival time" type="DateTime"}}
    {{> submissionGroup id="departure" name="departure time" type="DateTime"}}
    {{> submissionGroup id="vendor" name="vendor"}}
    {{> submissionGroup id="home" name="home"}}
    {{> submissionGroup id="shipper" name="shipper"}}
    {{> submissionGroup id="isCCC" name="ccc" type="Checkbox"}}
    {{> submissionGroup id="comment" name="comment" type="Textarea"}}
    {{> submissionGroup id="files" name="links" type="Textarea"}}
    <div class="col-sm-9 col-sm-offset-3">
      <button type="submit" class="btn btn-default">submit</button>
    </div>
  </form>
{{else}}
  {{> loginWarning}}
{{/if}}
</template>
