<template name="bulkPage">
	<div class="row">
		<div class="col-sm-6">
			{{> bulkScan}}
			<div class="row">
				<ul class="list-group">
				{{#each scanlist}}
					{{> presentScan styled=style 
									_id=this._id
									name=this.name
									valid=this.valid }}
				{{/each}}
				</ul>
			</div>
		</div>
		<div class="col-sm-6">
			{{> bulkForm items=itemlist handle=listhandle}}
		</div>
	</div>
</template>

<template name="presentScan">
	<li class="list-group-item list-group-item-{{styled}}">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					{{_id}}
				</div>
				<div class="row">
					{{name}}
				</div>
			</div>
			<div class="col-sm-4">
				<div class="btn-group" role="group">
					<input type="button" relatedId="{{_id}}" class="btn btn-primary remove" autocomplete="off" value="del">
					{{#unless valid}}
						<input type="button" relatedId="{{_id}}" class="btn btn-primary overwrite" autocomplete="off" value=":w!">
					{{/unless}}
				</div>
			</div>	
		</div>
	</li>
</template>

<template name="bulkScan">
	<form class="form-horizontal scan" role="form">
		<div class="form-group">
			<label for="bScan" class="col-sm-3 control-label">Scan</label>
			<div class="col-sm-9">
				<input class="form-control scan" id="bScan" placeholder="barcode">
			</div>
		</div>
	</form>
</template>

<template name="bulkForm">
	<form class="form-horizontal submission" role="form">		
		{{> submissionGroup id="submissionName" name="Name"}}
		{{> submissionGroup id="submissionTeam" name="Team"}}
		{{> submissionGroup id="submissionVendor" name="Vendor"}}
		{{> submissionGroup id="submissionBy" name="User"}}
		{{> submissionGroup id="submissionComment" name="Comment"}}
		{{> transportGroup}}
		{{> locationGroup}}
		{{#if hasSublocation}}
			{{> sublocationGroup location=main}}
		{{/if}}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default submit">submit query</button>
			</div>
		</div>
	</form>
</template>