<template name="findPage">
	<div class="jumbotron">
		<h1>suchfeld und data</h1>
	</div>
</template>

<template name="findPageFull">
	{{> searchForm}}
	{{> searchResults}}
</template>

<!-- Big ass form to search for a single item using full text search on fields -->
<!-- TODO complete for comments, createdby, timestamps ... -->
<template name="searchForm">
	<form class="form-horizontal" role="form">
		<!-- basic fields -->
		{{> submissionGroup id="findName" name="Name"}}
		{{> submissionGroup id="findTeam" name="Team"}}
		{{> submissionGroup id="findVendor" name="Vendor"}}

		{{> locationQueryGroup}}
		<!-- {{> transportQueryGroup}} -->
		<!-- submit button -->
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">submit query</button>
			</div>
		</div>
	</form>
</template>

<!-- Display one-liner describing item -->
<!-- TODO provide a link to the detailed view  -->
<template name="result">
	<tr>
		<td> {{this._id}} </td>
		<td> {{this.name}} </td>
		<td> {{this.team}} </td>
		<td> {{this.vendor}} </td>
		<td> {{this.location.type}} </td>
	</tr>
</template>

<!-- Display all results for our sessions search -->
<!-- TODO make pretty -->
<template name="searchResults" qty="{{qty}}">
	{{#tableWrapper3 heading=qty field1="id" field2="name" field3="team" field4="vendor" field5="location"}}
		{{#each results}}
			{{> result}}
		{{/each}}
	{{/tableWrapper3}}
</template>

<!-- Ultra shitty table wrapper -->
<!-- TODO get rid of this, rewrite with dynamic #columns -->
<template name="tableWrapper3">
	<h2>{{this.heading}}</h2>
	<div class="span3"> 
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<td>{{this.field1}}</td>
					<td>{{this.field2}}</td>
					<td>{{this.field3}}</td>
					<td>{{this.field4}}</td>
					<td>{{this.field5}}</td>
				</tr>
			</thead>
			<tbody>
				{{> UI.contentBlock}}
			</tbody>
		</table>
	</div>
</template>