<template name="relocatePage">
	<div class="row">
		<div class="col-sm-6">
			{{#with fromdb}}
				{{#if found}}
					{{> findById data}}
				{{else}}
					{{> noSuchId}}
				{{/if}}
			{{/with}}
		</div>
		<div class="col-sm-6">
			{{> relocateMode}}
		</div>
	</div>
</template>

<template name="relocateScan">
	<div class="form-group">
		<label for="rLScan" class="col-sm-3 control-label">Scan</label>
		<div class="col-sm-9">
			<input class="form-control" id="rLScan" placeholder="barcode">
		</div>
	</div>
</template>

<template name="relocateMode">
	<div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
		<label class="btn btn-primary active">
			<input type="checkbox" name="relocateBulkOption" id="relocateBulkOption" autocomplete="off" value="bulk" checked> Bulk
		</label>
		<label class="btn btn-primary active">
			<input type="checkbox" name="relocateStateOption" id="relocateStateOption" autocomplete="off" value="bulk" checked>State
		</label>
		<label class="btn btn-primary active">
			<input type="checkbox" name="relocateAutolocationOption" id="relocateAutolocationOption" autocomplete="off" value="bulk" checked> Autolocation
		</label>
	</div>
	<br>
	<form class="form-horizontal" role="form">
		{{> relocateScan}}
		{{> locationGroup name="lgRelocate"}}

		{{#if modeSubdivided mode}}
			{{> sublocationGroup location=mode}}
		{{/if}}

		{{#if modeIs "world"}}
			{{> worldForm}}
		{{/if}}
		{{#if modeIs "halleh"}}
			{{> hallehForm}}
		{{/if}}
		{{#if modeIs "cch"}}
			{{> cchForm}}
		{{/if}}
		{{#if modeIs "transport"}}
			{{> transportForm}}
		{{/if}}
		<div class="form-group">
			<label for="relocateBy" class="col-sm-12 control-label">
				<p class="text-left">Moved by</p>
			</label>
			<div class="col-sm-12">
				<input class="form-control" id="relocateBy"
				placeholder="some person">
			</div>
		</div>
		<div class="form-group">
			<label for="relocateComment" class="col-sm-3 control-label">
				<p class="text-left">Comment</p>
			</label>
			<div class="col-sm-12">
				<input class="form-control" id="relocateComment" placeholder="Comment">
			</div>
		</div>
	</form>
	<br>
	<input type="button" class="btn btn-primary tester" value="test">
</template>

<template name="worldForm">
	<div class="form-group">
		<label class="col-sm-4 control-label">Location</label>
		<div class="col-sm-8">
			<p class="form-control-static">World</p>
	    </div>
	</div>
</template>

<template name="hallehForm">
	<div class="form-group">
		<label class="col-sm-4 control-label">Location</label>
		<div class="col-sm-8">
			<p class="form-control-static">Halle H</p>
	    </div>
	</div>
</template>

<template name="cchForm">
	<div class="form-group">
		<label class="col-sm-4 control-label">Location</label>
		<div class="col-sm-8">
			<p class="form-control-static">CCH</p>
	    </div>
	</div>
</template>

<template name="transportForm">
	<div class="form-group">
		<label class="col-sm-4 control-label">Location</label>
		<div class="col-sm-8">
			<p class="form-control-static">Transport</p>
	    </div>
	</div>
</template>