<template name="relocatePage">
{{#if isInRole 'item-relocate'}}
	<div class="row">
		<div class="col-sm-6">
			{{#with fromdb}}
				{{#if found}}
					{{> findById data}}
				{{else}}
					{{> noSuchId}}
				{{/if}}
			{{/with}}
		</div>
		<div class="col-sm-6">
			{{> relocateMode}}
		</div>
	</div>
{{else}}
	{{> loginWarning}}
{{/if}}
</template>

<template name="relocateMode">
	<div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
		<label class="btn btn-primary active">
			<input type="checkbox" name="relocateBulkOption" id="relocateBulkOption" autocomplete="off" value="bulk" checked> Bulk
		</label>
		<label class="btn btn-primary active">
			<input type="checkbox" name="relocateStateOption" id="relocateStateOption" autocomplete="off" value="bulk" checked>State
		</label>
		<label class="btn btn-primary active">
			<input type="checkbox" name="relocateAutolocationOption" id="relocateAutolocationOption" autocomplete="off" value="bulk" checked> Autolocation
		</label>
	</div>
	<br>
	{{> relocateScan}}
	<form class="form-horizontal" role="form">
		{{> locationGroup name="lgRelocate"}}
	
		{{#if mainSubdivided}}
			{{> sublocationGroup location=main}}
		{{/if}}

		{{> additionalLocationInput location=main}}

		<div class="form-group">
			<label for="relocateBy" class="col-sm-12 control-label">
				<p class="text-left">Moved by</p>
			</label>
			<div class="col-sm-12">
				<input class="form-control" id="relocateBy"
				placeholder="some person">
			</div>
		</div>
		<div class="form-group">
			<label for="relocateComment" class="col-sm-3 control-label">
				<p class="text-left">Comment</p>
			</label>
			<div class="col-sm-12">
				<input class="form-control" id="relocateComment" placeholder="Comment">
			</div>
		</div>
	</form>
	<br>
</template>

<template name="relocateScan">
	<form class="form-horizontal scan" role="form">
		<div class="form-group">
			<label for="rLScan" class="col-sm-3 control-label">Scan</label>
			<div class="col-sm-9">
				<input class="form-control scan" id="rLScan" placeholder="barcode">
			</div>
		</div>
	</form>
</template>

<template name="additionalLocationInput">
	<div class="form-group">
		<label class="col-sm-4 control-label">Location</label>
		<div class="col-sm-8">
			<p class="form-control-static">{{location}}</p>
	    </div>
	</div>
	<!-- TODO additional fields -->
</template>
