<template name="transportsPage">
  <h2>Transports</h2>
  {{#transportsTableWrapper}}
    {{#each transports}}
      {{> transportTableRow}}
    {{/each}}
  {{/transportsTableWrapper}}
  {{#if isInRole 'transport-add'}}
    <a class="btn btn-default" href="{{pathFor route='addTransportPage'}}">new Transport</a>
  {{/if}}
</template>

<template name="transportTableRow">
  <tr class="{{#if this.prioritised}}danger{{/if}}">
    <td> {{this.name}} </td>
    <td> {{this.arrival}} </td>
    <td> {{this.departure}} </td>
    <td> {{this.vendor}} </td>
    <td> {{this.home}} </td>
    <td> {{this.is_ccc}} </td>
    <td> {{this.shipper}} </td>
    <td> {{this.comment}} </td>
    <td> {{this.files}} </td>
  </tr>
</template>

<template name="transportsTableWrapper">
  <table class="table table-condensed table-hover table-bordered">
    <thead>
      <tr>
        <td>name</td>
        <td>arrival</td>
        <td>departure</td>
        <td>vendor</td>
        <td>home</td>
        <td>shipper</td>
        <td>ccc?</td>
        <td>comment</td>
        <td>files</td>
      </tr>
    </thead>
    <tbody>
      {{> UI.contentBlock}}
    </tbody>
  </table>
</template>
