<template name="teamsPage">
	<h2>Teams</h2>
	{{> reactiveTable settings=tableSettings }}
	{{#if isInRole 'team-add'}}
		<a class="btn btn-default" href="{{pathFor route='addTeamPage'}}">new Team</a>
	{{/if}}
</template>

<template name="teamsTableModify">
	<div class="pull-right">
		{{#if isInRole 'team-update'}}
			<a href="{{pathFor 'editTeamPage' this._id}}" class="btn btn-success glyphicon glyphicon-pencil"></a>
		{{/if}}
		{{#if isInRole 'team-remove'}}
			{{#afModal class="btn btn-danger glyphicon glyphicon-remove" collection="Teams" operation="remove" doc=this._id title="Are you sure?" prompt="This action can't be undone!"}}
			{{/afModal}}
		{{/if}}
	</div>
</template>

<template name="teamsTableComment">
	{{nl2br this.comment}}
</template>
