<template name="addTransportPage">
{{#if isInRole 'transport-add'}}
  <h2>New transport</h2>
  {{#autoForm collection="Transports" id="insertTransportForm" type="insert"}}
    <fieldset>
      {{> afQuickField name='name'}}
      {{> afQuickField name='prioritised'}}
      {{> afQuickField name='is_ccc'}}
      {{> afQuickField name='arrival'}}
      {{> afQuickField name='departure'}}
      {{> afQuickField name='vendor'}}
      {{> afQuickField name='home'}}
      {{> afQuickField name='shipper'}}
      {{> afQuickField name='comment' rows=6}}
      {{> afQuickField name='files' rows=3}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
{{else}}
  {{> loginWarning}}
{{/if}}
</template>
