<template name="transportsPage">
	<h2>Transports</h2>
	{{> reactiveTable settings=tableSettings }}
	{{#if isInRole 'transport-add'}}
		<a class="btn btn-default" href="{{pathFor route='addTransportPage'}}">new Transport</a>
	{{/if}}
</template>

<template name="transportsTableModify">
	<div class="pull-right">
		{{#if isInRole 'transport-update'}}
			<a href="{{pathFor 'editTransportPage' this._id}}" class="btn btn-success glyphicon glyphicon-pencil"></a>
		{{/if}}
		{{#if isInRole 'transport-remove'}}
			{{#afModal class="btn btn-danger glyphicon glyphicon-remove" collection="Transports" operation="remove" doc=this._id title="Are you sure?" prompt="This action can't be undone!"}}
			{{/afModal}}
		{{/if}}
	</div>
</template>

<template name="transportsTableFiles">
	<ul class="list-unstyled">
		{{#each files}}
			<li><a href="{{this.url}}" target="_blank">{{this.name}}</a></li>
		{{/each}}
	</ul>
</template>

<template name="transportsTableComment">
	{{nl2br this.comment}}
</template>
